
   <div class="col-md-12 col-lg-12">
      <div class="formElement form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-parse" ng-form="f_appid">
         <div class="col-md-12 col-lg-12">
            <h3 class="ng-binding">
             {{ 'ALERT_CONFIGURATION_PAGE_TITLE' | translate }}
            </h3>
         </div>
         <div>
        	<select id="selectbox1"  ng-model="conditionTypes.ID" ng-options="con.ID as con.conditionValue for con in conditionTypes">
			    <option value="">Select a Condition</option>
			</select>
		</div>
      </div>
   </div>
   <div class="col-md-12 col-lg-12" style=" padding-left: 600px;">
      <button class="btn btn-md btn-orange" ng-click="addAlertConfigDiv(conditionTypes.ID)" ng-disabled="submitDisabled" type="submit" form="createForm" function="submit" disabled="disabled"><i class="icon-ok-sign"></i> Configure new alert condition</button> 
      <span class="error clearfix ng-binding"></span>
   </div>

     <div dynamic style="padding-top: 130px; ng-model="ngmodel"></div>
     

<div class="tab-pane fade in active" id="smart-green-demo" ng-Show="submitted">
	<p class="smart-green">
	<span>Alert configuration has been added successfully !!</span>
	 </p>
</div>
     
<script type="text/ng-template" id="messageCount.html">
<form method="POST" ng-submit="addAlertCondition(conditionTypes.ID)" ng-show="enableConfig" class="alert-type-form alert-type-form-message-count form-inline ng-pristine ng-valid ng-scope" id="message-count" style="display: block;  padding-top: 20px;">
    <div class="well well-sm">
        Fire an alert whenever there are
 		<span class="threshold-type" >
 			<label class="radio-inline">
 				<input type="radio" name="threshold_type" value="true" ng-model="alertConfigForm.more" checked="checked" class="ng-pristine ng-untouched ng-valid">more
 			</label>
 			<label class="radio-inline">
 				<input type="radio" name="threshold_type" ng-model="alertConfigForm.less" value="true" class="ng-pristine ng-untouched ng-valid">less
 			</label>
 		</span>
		 than
        <input name="threshold" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-validate="number" ng-model="alertConfigForm.messageCountThreshold" data-pluralsingular="threshold-descr" value="">
        <span class="threshold-descr"  data-plural="messages" data-singular="message">messages
        </span>
        in the last
		<input name="time" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-validate="positive_number" data-pluralsingular="time-descr" ng-model="alertConfigForm.timestamp" value="0">
        <span class="time-descr" data-plural="minutes" data-singular="minute">minutes</span>
		and  then wait at least
		<input name="grace" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-pluralsingular="grace-descr" data-validate="not_negative_number" ng-model="alertConfigForm.gracePeriod" value="0">
		<span class="grace-descr"  data-plural="minutes" data-singular="minute">minutes</span> until triggering <br> a new alert (grace time period).
			While sending an alert, include the last
		<input name="backlog" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-pluralsingular="backlog-descr" data-validate="not_negative_number" ng-model="alertConfigForm.messageCount" value="0">
		<span class="backlog-descr" data-plural="messages" data-singular="message">messages</span> of the stream evaluated for this alert condition.
		<p style="margin-top: 5px; margin-bottom: 0px;">
    		<button type="submit" class="btn btn-success">Add alert condition</button>
		</p>
	</div>
</form>
</script>

<script type="text/ng-template" id="fieldValue.html">
<form ng-submit="addAlertCondition(conditionTypes.ID)" method="POST" class="alert-type-form alert-type-form-field-value form-inline ng-pristine ng-scope ng-invalid ng-invalid-required" id="field-value" style="display: block;">
    <div class="well well-sm">
        Fire an alert whenever the field
        <span class="twitter-typeahead" style="position: relative; display: inline-block;">
			<input type="text" class="form-control typeahead-fields tt-hint" autocomplete="off" value="" readonly="" spellcheck="false" tabindex="-1" dir="ltr" style="position: absolute; top: 4px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
			<input ng-model="alertConfigForm.field" name="field" type="text" class="form-control typeahead-fields tt-input ng-pristine ng-untouched ng-invalid ng-invalid-required" autocomplete="off" required="" value="" spellcheck="false" dir="auto" style="color: #858585; position: relative; vertical-align: top; background-color: transparent; top: 4px;">
			<pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
			<div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
				<div class="tt-dataset tt-dataset-fields"></div>
			</div>
		</span>
        has a
        <select name="type" class="form-control ng-pristine ng-untouched ng-valid" ng-model="alertConfigForm.meanValue">
        	<option value="mean" selected="selected">mean value</option>
        	<option value="min">minimum value</option><option value="max">maximum value</option>
        	<option value="sum">sum</option><option value="stddev">standard deviation</option>
        </select>
        that was
        <span class="threshold-type">
	        <label class="radio-inline">
	        <input type="radio" name="threshold_type" value="true" ng-model="alertConfigForm.thresholdLower" checked="checked" style="color: #858585;" class="ng-pristine ng-untouched ng-valid">lower</label>
	        <label class="radio-inline">
	        <input type="radio" name="threshold_type" value="true" ng-model="alertConfigForm.thresholdHigher" style="color: #858585;" class="ng-pristine ng-untouched ng-valid">higher</label>
	   </span>
        than
		<input ng-model="alertConfigForm.fieldValueThreshold" name="threshold" type="number" class="form-control validatable ng-pristine ng-untouched ng-valid" data-validate="number" value="0">
        in the last
		<input ng-model="alertConfigForm.timestamp" name="time" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-pluralsingular="time-descr" data-validate="positive_number" value="0">
        <span class="time-descr" data-plural="minutes" data-singular="minute" style="color:white;">minutes</span>
		and then wait at least
		<input ng-model="alertConfigForm.gracePeriod" name="grace" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-pluralsingular="grace-descr" data-validate="not_negative_number" value="0">
		<span class="grace-descr" data-plural="minutes" data-singular="minute" style="color:white;">minutes</span> until triggering
		<p style="margin-top: 5px; margin-bottom: 0px;">
    		<button type="submit" class="btn btn-success">Add alert condition</button>
		</p>
    </div>
</form>
</script>

<script type="text/ng-template" id="fieldContent.html">
<form ng-submit="addAlertCondition(conditionTypes.ID)" method="POST" class="alert-type-form alert-type-form-field-content-value form-inline ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-parse" id="field-content-value" style="display: block;">
    <div class="well well-sm">
        Trigger alert when a message arrives that has the field
        <span class="twitter-typeahead" style="position: relative; display: inline-block;">
			<input type="text" class="form-control typeahead-fields tt-hint" autocomplete="off" value="" readonly="" spellcheck="false" tabindex="-1" dir="ltr" style="color :#858585; position: absolute; top: 4px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
			<input ng-model="alertConfigForm.field" name="field" type="text" class="form-control typeahead-fields tt-input ng-pristine ng-untouched ng-invalid ng-invalid-required" autocomplete="off" required="" value="" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent; color :#858585;top: 4px;">
			<pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
			<div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
				<div class="tt-dataset tt-dataset-fields"></div>
			</div>
		</span>
        set to
        <input ng-model="alertConfigForm.fieldContentSetTo" name="value" type="text" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid ng-valid-required" required="" value="" style="background-color:#F6F7F9; color :#858585;">
		and then wait at least
		<input ng-model="alertConfigForm.gracePeriod" name="grace" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-pluralsingular="grace-descr" data-validate="not_negative_number" value="0">
		<span class="grace-descr" data-plural="minutes" data-singular="minute">minutes</span> until triggering
		a new alert(grace timr period) When sending an alert, include the last
		<input ng-model="alertConfigForm.timestamp" name="backlog" type="number" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-pluralsingular="backlog-descr" data-validate="not_negative_number" value="0">
		<span class="backlog-descr" data-plural="messages" data-singular="message">messages</span> of the stream evaluated for this alert condition.
		<p style="margin-top: 5px; margin-bottom: 0px;">
		    <button type="submit" class="btn btn-success">Add alert condition</button>
		</p>

    </div>
</form>
</script>
     














