[access]
	inheritFrom = All-Projects
[project]
	description = Streaming Data Handler - Centinel (A distributed reliable framework for collection, aggregation and analysis of streaming data)
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-centinel-committers
	read = group GitHub Replication
[submit]
	action = merge always
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
