<div class="col-md-12 col-lg-12">
         <div class="well well-sm">
            <h3 class="ng-binding" style="float:left;">
             {{ 'DASHBOARDS_PAGE_TITLE' | translate }}
            </h3>
    		<button class="btn btn-md btn-orange" style="margin-top:10px; float:right;" ng-click="createDashboardDiv()" ng-disabled="submitting" type="submit" form="createForm" function="submit" disabled="disabled"><i class="icon-ok-sign"></i> {{'CREATE_DASHBOARDS' | translate}}</button> 
   			<span class="error clearfix ng-binding"></span>
 			
		</div>
		
		<div class="well well-sm" style="margin-top: 20px;" ng-show="enableCreateDashboardForm" ng-disabled="submitting">
			<form method="POST" ng-submit="addDashboard(dashboardForm)" class="alert-type-form alert-type-form-message-count form-inline ng-pristine ng-valid ng-scope" id="message-count"  style="display: block; width: 976px;">
			    <div>
			        <label>{{'DASHBOARD_NAME'|translate}}</label> 
			        <input required name="dashboardName" ng-Model="dashboardForm.title" type="text" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-validate="number" data-pluralsingular="threshold-descr" value="" style=" width: 950px;height: 27px;">
			        <br><label>{{'DASHBOARD_DESCRIPTION'|translate}}</label>  
					<input name="dashboardDescription" ng-Model="dashboardForm.description" type="text" class="form-control pluralsingular validatable ng-pristine ng-untouched ng-valid" data-validate="number" data-pluralsingular="threshold-descr" value="" style=" width: 950px;height: 27px;">
					<div style="margin-top: 8px; margin-right: 10px; float:left;">
			    		<button type="submit" ng-disabled="submitting" class="btn btn-success" >{{'SAVE_DASHBOARD'|translate}}</button>
					</div>
				</div>
			</form>
			<div style="margin-top: 8px;"><button class="btn btn-success" ng-click="closeForm()" ng-disabled="submitting">{{'CANCEL'|translate}}</button></div>
		</div>
		<div class="submittingForm" ng-show="submitting" style="height: 35px;"></div>
		<div style="text-align: center;color: white;" ng-show="submitting">Please Wait...</div>
	  <div class="well well-sm tableContainer" style="margin-top: 20px;">
 
	        <form class="form-inline">
				<div class="form-group">
					<input type="text" ng-model="searchText" class="form-control" placeholder="Search"  type="search" ng-change="search()">
				</div>
				<div style="float: right;margin-right: 570px;margin-top: 7px;"> <span>{{NumberOfResults}}</span></div>
			</form>
			
			<div class="div-table">
					<div style="border:1px solid #A09B9B; border-spacing: 4px;">
						<h3>List of Dashboards</h3>
		           </div>
		           <div style="border:1px solid #A09B9B; border-spacing: 4px;">
		             <div class="div-table-row">
		                <div class="div-table-col" style="width:250px; font-weight: bold;" >{{'DASHBOARD_NAME' |translate}}</div>
		                <div  class="div-table-col" style="width:500px; font-weight: bold;">{{'DASHBOARD_DESCRIPTION' | translate}}</div>
		                <div  class="div-table-col" style="width:152px; font-weight: bold;">{{'DELETE' |translate}}</div>
		             </div>
		           </div>
		             <div ng-repeat="dashboard in dashboardsByPage[currentPage]" style="border:1px solid #A09B9B; border-spacing: 4px;">
			            <div class="div-table-row" >
			            	<div class="div-table-col"style="width:250px;"><a class="hyperlink" ng-click="openWidgetPage(dashboard)" href="">{{dashboard.title}}</a></div>
			            	<div class="div-table-col"style="width:500px;">{{dashboard.description}}</div>
			            	<div class="div-table-col " style="width:152px;"><button class="alertButton iconClose" ng-click="deleteDashboard(dashboard)"></button></div>
			            </div>
					</div>
		      </div>
		      
				<ul class="pagination pagination-sm">
		            <li ng-class="{active:0}"><a href="" ng-click="firstPage()">{{'FIRST' | translate}}</a>
		
		            </li>
		            <li ng-repeat="n in range(dashboardsByPage.length)"> <a href="" ng-click="setPage()" ng-bind="n+1">1</a>
		
		            </li>
		            <li><a href="" ng-click="lastPage()">{{'LAST' | translate}}</a>
		
		            </li>
		        </ul>
        
    	</div>
<div class="tab-pane fade in active" id="smart-green-demo" ng-Show="submitted">
	<p ng-class="{'smart-green': submitSuccess, 'smart-red': !submitSuccess}">
		<span>{{ successMsg }}</span>
	 </p>
</div>
</div>
