<div class="col-md-12 col-lg-12">
	<div style="color: wheat;margin-bottom: 0px;width: 980px;" class="well well-sm" ><div style="float: left;margin-top: 10px;">
		<label for="dataType">{{'SELECT_EVENT_TYPE' | translate }}</label></div>
		<div class="radio" style="margin-left: 320px;">
		  <div style="float: left;width: 76px;">
			    <input id="stream" type="radio" name="streamingType" ng-click="selectStreaminDataType('stream')" checked="checked" value="stream">
			    <label for="stream" style="">{{'STREAM' | translate }}</label>
			</div>
			<div style="width: 76px;float: left;">
			    <input id="Alert" type="radio" name="streamingType" ng-click="selectStreaminDataType('alert')" value="Alert">
			    <label for="Alert">{{'ALARM' | translate }}</label>
		  	</div>
		</div>
	
	</div>
	
   <div>
	   <div style="float: left; width: 980px;margin-bottom: 10px;" class="well well-sm">
		   <form class="form-inline" ng-submit="makeLogQuery()">
					 <select name="searchMessage" class="form-control ng-pristine ng-untouched ng-valid" style="height: 28px;width: 218px;" ng-model="range.rangeId" ng-options="range.rangeId as range.rangeMsg for range in searchRange">
							<option value="" selected="true">{{'SELECT_SEARCH_CRITERIA' | translate }}</option>
					</select>
					<div class="form-group">
                    	<div query id="ex1" placeholder="Type your search query here and press space" pause="100" selectedobject="field" querystr="queryString" dbQueryStr="dbQueryString" eventMode="streamingDataType" localdata="queryList" searchfields="fieldName"  titlefield="fieldName" minlength="1" queryParam="queryParamaters" inputclass="form-control form-control-small"/>
					</div>

					<button type="submit" class="btn btn-success" style="height: 31px;padding-top: 3px; margin-left: 8px;" >Search</button>
					
			</form>
	   </div>
   </div>
      
         <div ng-show="streamingDataType=='stream'" class="well well-sm" style=" margin-top: 60px; width: 980px; height: 180px; margin-bottom: 10px;">
 					 <line-chart lines="chartData"></line-chart>
      	</div>
      	<div class="well well-sm" style="float: left; width: 980px;">
			<div style="border:2px solid #A09B9B; border-spacing: 4px; width: 962px;padding-left: 10px;">
				<label for="events" style="margin-bottom: 0px;">Fields</label>
		    </div>    	
          <ul  class="field-Select-container checkbox-grid">
		    <li ng-repeat="field in fieldList"  ng-model="field">
		    	<input type="checkbox"  ng-model="field.value" ng-checked="field.value" ng-change="newFieldSelected(field)" />
		    	<label for="text1" ng-model="field.label" >{{field.label}}</label>
		    </li>
		  </ul>
      	</div>
      	
      	
	  <div class="well well-sm tableContainer" style="margin-top: 250px;width: 980px;">
			
			<div class="div-table">
					<div style="border:2px solid #A09B9B; border-spacing: 4px; width: 962px;padding-left: 10px;">
						<label for="events" style="margin-bottom: 0px;">{{eventType}}</label>
		           </div>
			<div style="border:1px solid #A09B9B; border-spacing: 4px;">
	             <div class="div-table-row" >
	                <div class="div-table-col" style="height:{{tableRowHeight}}; width:{{tableColSpacing}}; color: yellow;"  ng-repeat="columnFields in selectedFields"><div style="overflow-wrap: break-word;">{{columnFields.label}}</div></div>
	             </div>
           </div>
             <div ng-repeat="event in eventsByPage[currentPage]" style="border:1px solid #A09B9B; border-spacing: 4px;">
	            <div class="div-table-row" >
	            	 <div class="div-table-col" style=" width:{{tableColSpacing}}; height:{{tableRowHeight}};" ng-repeat="field in event track by $index"><div style="overflow-wrap: break-word;">{{field.fieldValue}}</div></div>
	            </div>
			</div>
		      </div>
		      
				<ul class="pagination pagination-sm">
		            <li ng-class="{active:0}"><a href="" ng-click="firstPage()">{{'FIRST' | translate}}</a>
		
		            </li>
		            <li ng-repeat="n in range(eventsByPage.length)"> <a href="" ng-click="setPage()" ng-bind="n+1">1</a>
		
		            </li>
		            <li><a href="" ng-click="lastPage()">{{'LAST' | translate}}</a>
		
		            </li>
		        </ul>
        
    	</div>
    	
    	  <div class="tab-pane fade in active" id="smart-green-demo" ng-Show="submitted">
	<p ng-class="{'smart-green': submitSuccess, 'smart-red': !submitSuccess}">
	<span>{{ successMsg }}</span>
	 </p>
	</div>
      	
 </div>